@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/*Fonte da letra (Google fontes)*/
* {
    padding: 0; /*Zerando o preenchimento*/
    margin: 0; /*Zerando a margin(top, bottom, right, left*/
    list-style: none; /*remover os marcadores de listas da <ul> */
    font-family: "Manrope", serif; /*Fonte da letra (Google fontes)*/
}

/*Início da estilização do Header*/
header {
    padding: 30px; /*Colocando um tamanho (Preenchimento) no Header*/
    background-color: #51b6fa; /*Habilitando uma cor de fundo*/
    display: flex; /*Tornando nosso Header Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly; /*Justificativa do conteúdo*/
    align-items: center; /*Alinhamento na vertical - Deixando habilitada ao centro*/


}

/*Chamamos nossa logo(img) para estilização*/
header img {
    width: 80px; /*Largura da imagem*/
    height: auto; /*Altura da imagem ( automático) */
}



/*Chamamos nossa lista não ordenada para estilização*/
header div nav ul {
    display: flex;  /*Tornamos nossa lista não ordenada em (Flex), deixando os itens pertencentes a ela, lado a lado.*/
    gap: 20px; /*Espaçamento entre os elementos*/

}

/*Chamamos nossa âncora (a) para estilização*/
header div nav ul li a {
    text-decoration: none; /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: white; /*Cor da Letra*/
}

/*Hover= permite que o elemento a qual está trabalhando tenha alguma ação quando passar o  mouse*/
header div nav ul li a:hover {
    color: #000000; /*Cor da letra*/
    transition: 0.5s; /*Tempo de transição*/
}
/*Fim da estilização do Header*/

/*Início da estilização da tela 3*/

/* Chamamos sessão da tela 3 para estilização.*/
.formulario {
    padding: 180px; /*Tamanho da sessão*/
    background-image: url(imagem/escova.jpg); /*Imagem de fundo*/
    background-attachment: fixed; /*Deixando a imagem fixa*/
    background-size: cover; /*Tamanho da imagem = total*/
    background-position: center; /*Deixar a imagem centralizada*/
    background-repeat: no-repeat; /*utilizada para não repetir a imagem*/

}

/* Chamamos Título da tela 3 para estilização.*/
.formulario h1 {
    color: rgb(78, 67, 67); /*Cor da letra*/
    font-size: 45px; /*Tamanho da letra*/
    font-family: Light 300; /*Fonte da letra (Google fonts)*/
    font-weight: bold; /*Peso/Espressura da letra*/
    text-align: center; /*Alinhamento ao centro*/
}


.formulario .avaliacao {
    text-align: center; /*Alinhamento do formulário ao centro*/
    
}

/* Chamamos a label para estilização.*/
.formulario label {
    
    color: black;  /*Cor da letra*/
    font-size: 20px; /*Tamanho da letra*/
    font-weight: bold; /*Peso/Espressura da letra*/

}

/* Chamamos a input para estilização.*/
.formulario input {
    padding: 10px; /*Tamanho da caixa*/
    width: 200px; /*Largura da caixa*/
    border-color: #72b1a4; /*Cor da borda*/
}

/* Chamamos a input "Enviar" para estilização.*/
.formulario .enviar {
    padding: 10px; /*Tamanho da caixa*/
    width: 100px; /*Largura da caixa*/
    border-color: #72b1a4; /*Cor da borda*/
}

/*Fim da estilização do formulário*/


/*Início da estilização do Footer/Rodapé da pagina*/
footer {
    padding: 40px; /*Tamanho/preenchimento do Footer*/
    background-color: #51b6fa; /*Cor de fundo*/
    display: flex; /*Tornando o Footer Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly; /*Justificativa do conteúdo*/
    gap: 15px; /*Espaçamento entre os elementos*/
}

/*Estilizando a logo do Footer*/
footer .div-logo-footer img {
    width: 80px; /*Largura da imagem*/
    height: auto; /*Altura da imagem ( automático) */
 

}

/*Estilizando o subtítulo do Footer*/
footer div h3 {
    color: whitesmoke; /*Cor da letra*/
    font-size: 25px; /*Tamanho da letra*/
    font-weight: 300; /*Peso/Espressura da letra*/

}

/*Estilizando o parágrafo do Footer*/
footer div p {
    color: whitesmoke; /*Cor da letra*/
    font-size: 18px; /*Tamanho da letra*/
    font-family: Light 300; /*Fonte da letra (Google fonts)*/
    font-weight: 200; /*Peso/Espressura da letra*/
}

/*Estilizando os ícones do Footer*/
.div-sociais i {
    padding: 10px; /*Aplicando um respiro (padding) dentro dos ícones*/
    font-size: 20px; /*Tamanhos dos ícones*/
    background-color: antiquewhite; /*Cor de fundo*/

}


/*Aplicando o hover nos ícones*/
.div-sociais i:hover {
    background-color: #7e9991; /*Cor de fundo*/
    transition: 0.5s; /*Tempo de transição*/
}

/*Chamamos nossa âncora (a) para estilização*/
.div-list-footer a {
    text-decoration: none; /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: antiquewhite; /*Cor da Letra*/
}


