@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/*Fonte da letra (Google fontes)*/
* {
    padding: 0; /*Zerando o preenchimento*/
    margin: 0; /*Zerando a margin(top, bottom, right, left*/
    list-style: none; /*remover os marcadores de listas da <ul> */
    font-family: "Manrope", serif; /*Fonte da letra (Google fontes)*/
}

/*Início da estilização do Header*/
header {
    padding: 30px; /*Colocando um tamanho (Preenchimento) no Header*/
    background-color: #51b6fa; /*Habilitando uma cor de fundo*/
    display: flex; /*Tornando nosso Header Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly; /*Justificativa do conteúdo*/
    align-items: center; /*Alinhamento na vertical - Deixando habilitada ao centro*/


}

/*Chamamos nossa logo(img) para estilização*/
header img {
    width: 80px; /*Largura da imagem*/
    height: auto; /*Altura da imagem ( automático) */
}



/*Chamamos nossa lista não ordenada para estilização*/
header div nav ul {
    display: flex;  /*Tornamos nossa lista não ordenada em (Flex), deixando os itens pertencentes a ela, lado a lado.*/
    gap: 20px; /*Espaçamento entre os elementos*/

}

/*Chamamos nossa âncora (a) para estilização*/
header div nav ul li a {
    text-decoration: none; /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: white; /*Cor da Letra*/
}

/*Hover= permite que o elemento a qual está trabalhando tenha alguma ação quando passar o  mouse*/
header div nav ul li a:hover {
    color: #000000; /*Cor da letra*/
    transition: 0.5s; /*Tempo de transição*/
}


.mobile-menu {
    /* Estilização da caixa mobile quando aberta*/
    display: none;
    /* Display: Nenhum*/
    position: fixed;
    /* Posição fixa na parte direita da página*/
    top: 0;
    /* Superior em 0 fazendo a caixa encontar ao topo*/
    right: 0;
    /* Direita em 0 fazendfo a caixa encostar a direita*/
    width: 60%;
    /* Largura em porcentagem da caixa*/
    height: 100%;
    /* Altura de 100% da tela*/
    background-color: rgb(0, 0, 0);
    /*Cor de fundo*/
    flex-direction: column;
    /* Direção dos itens dentro caixa*/
    align-items: center;
    /* Alinhamento na vertical do itens */
    font-size: 1.8rem;
    /* Tamanho da letra dentro caixa*/
}

.nav-links-mobile {
    /* lista não ordenada na versão mobile*/
    display: flex;
    /*Tornando os itens *(as listas) flexíveis */
    flex-direction: column;
    /* Estamos direcionando o posicionamento dessas listas*/
    text-align: end;
    /* Alinhando o texto */
    gap: 1.2rem;
    /* Espaço entre as linhas*/
    /*width: 0;  Zeramos a largura podendo retirar essa linha para testar visualido*/
    list-style: none;
    /* Estilo de lista desabilitado */
    /* padding: 0; Preenchimento zerado, podendo também ser retirado para testes*/

}

.nav-links-mobile li {
    /* listas da versão mobile*/
    border-bottom: 1px solid #787272;
    /* Borda inferior de cada lista*/
    padding-bottom: 1.2rem;
    /* Tamanho da borda*/
}


.nav-links-mobile li a {
    text-decoration: none;
    color: white;
}

.hamburguer,
.close {
    /* Estilizando os botões de abertura e fechamento */
    font-size: 24px;
    /* tamanho do elemento */
    background: none;
    /* Removendo o Background */
    border: none;
    /* Borda nenhuma */
    color: white;
    /* Cor do elemento */
    cursor: pointer;
    /* Cursor Habilitado */
    display: none;
    /* Escondendo os botões*/
}

.close {
    /* Estilizando o botão X */
    margin-top: 20px;
    /* Espaçamento superior do X */
    margin-right: 20px;
    /* Espaçamento a direita do X */
    display: block;
    /* Formatação da imagem em bloco */
    align-self: end;
    /* Alinhamento do botão */
}

.flex {
    /* Elemento usado no JS*/
    display: flex;
    /* Tornando item flexível e visível. */
}




/*Fim da estilização do Header*/

/*Início da estilização da tela 3*/

/* Chamamos sessão da tela 3 para estilização.*/
.formulario {
    padding: 180px; /*Tamanho da sessão*/
    background-image: url(imagem/escova.jpg); /*Imagem de fundo*/
    background-attachment: fixed; /*Deixando a imagem fixa*/
    background-size: cover; /*Tamanho da imagem = total*/
    background-position: center; /*Deixar a imagem centralizada*/
    background-repeat: no-repeat; /*utilizada para não repetir a imagem*/

}

/* Chamamos Título da tela 3 para estilização.*/
.formulario h1 {
    color: rgb(78, 67, 67); /*Cor da letra*/
    font-size: 45px; /*Tamanho da letra*/
    font-family: Light 300; /*Fonte da letra (Google fonts)*/
    font-weight: bold; /*Peso/Espressura da letra*/
    text-align: center; /*Alinhamento ao centro*/
}


.formulario .avaliacao {
    text-align: center; /*Alinhamento do formulário ao centro*/
    
}

/* Chamamos a label para estilização.*/
.formulario label {
    
    color: black;  /*Cor da letra*/
    font-size: 20px; /*Tamanho da letra*/
    font-weight: bold; /*Peso/Espressura da letra*/

}

/* Chamamos a input para estilização.*/
.formulario input {
    padding: 10px; /*Tamanho da caixa*/
    width: 200px; /*Largura da caixa*/
    border-color: #72b1a4; /*Cor da borda*/
}

/* Chamamos a input "Enviar" para estilização.*/
.formulario .enviar {
    padding: 10px; /*Tamanho da caixa*/
    width: 100px; /*Largura da caixa*/
    border-color: #72b1a4; /*Cor da borda*/
}

/*Fim da estilização do formulário*/


/*Início da estilização do Footer/Rodapé da pagina*/
footer {
    padding: 40px; /*Tamanho/preenchimento do Footer*/
    background-color: #51b6fa; /*Cor de fundo*/
    display: flex; /*Tornando o Footer Flex - Deixando os itens lado a lado*/
    justify-content: space-evenly; /*Justificativa do conteúdo*/
    gap: 15px; /*Espaçamento entre os elementos*/
}

/*Estilizando a logo do Footer*/
footer .div-logo-footer img {
    width: 80px; /*Largura da imagem*/
    height: auto; /*Altura da imagem ( automático) */
 

}

/*Estilizando o subtítulo do Footer*/
footer div h3 {
    color: whitesmoke; /*Cor da letra*/
    font-size: 25px; /*Tamanho da letra*/
    font-weight: 300; /*Peso/Espressura da letra*/

}

/*Estilizando o parágrafo do Footer*/
footer div p {
    color: whitesmoke; /*Cor da letra*/
    font-size: 18px; /*Tamanho da letra*/
    font-family: Light 300; /*Fonte da letra (Google fonts)*/
    font-weight: 200; /*Peso/Espressura da letra*/
}

/*Estilizando os ícones do Footer*/
.div-sociais i {
    padding: 10px; /*Aplicando um respiro (padding) dentro dos ícones*/
    font-size: 20px; /*Tamanhos dos ícones*/
    background-color: antiquewhite; /*Cor de fundo*/

}


/*Aplicando o hover nos ícones*/
.div-sociais i:hover {
    background-color: #7e9991; /*Cor de fundo*/
    transition: 0.5s; /*Tempo de transição*/
}

/*Chamamos nossa âncora (a) para estilização*/
.div-list-footer a {
    text-decoration: none; /*Decoração do texto (sublinhado) desabilitado (none)*/
    color: antiquewhite; /*Cor da Letra*/
}


@media(max-width: 834px) {

    html {
        font-size: 12px;
    }



    header img {
        width: 4em;
        height: auto;
    }

    .nav-links {
        display: none;
    }

    .hamburguer {
        display: block;

    }

    .mobile-menu {
        z-index: 999;
    }

    #btn-header {
        display: none;
    }


    .cad-mobile button {
        width: 14rem;
        height: 4rem;
        border-radius: 5px;
        background-color: #f8f4f46c;
        color: #000000;
    }



    .cad-mobile button a {
        text-decoration: none;
        color: white;

    }

    .formulario {
        padding: 6em;
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .formulario h1 {
        text-align: center;
    }

    footer i {
        display: block;
        margin-top: 10px;
        gap: 10px;
    }
}





